{% extends 'iDash/base.html' %}

{% block main %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container" style="height: 640px;">
        <div class="row center">
            <div class="col s12 m10 offset-m1">
                <h1 class="header">iDash</h1>
            </div>
            <div class="col s12 m8 offset-m2">
                <h4 class="light">A Simple Dashboard Powered by Django & Materialize.</h4>
            </div>
        </div>
        <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light">TODO</a>
        </div>
        <div class="row center">
            <a class="current-version-number" href="#">Release: 0</a>
        </div>
    </div>
</div>
{% endblock main %}