{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">

<head>

    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <!-- favicon -->
    <link rel="shortcut icon" href="{%static "favicon.ico"  %}" />

    <!-- css -->
    <link rel="stylesheet" href="{% static 'iDash/css/idash.css' %}">

    <!--  -->
    <title>{{ title }}</title>

</head>

<body>

    <header class="iheader">
        <div class="navbar-fixed">
            <!-- Top Nav -->
            <nav class="navbar-color gradient-45deg-blue-cyan">
                <div class="nav-wrapper">
                    <div class="left">
                        <a id="logo-container" href="/iDash/" class="brand-logo">{{ brand }}</a>
                    </div>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="material-icons">search</i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="探索 iDash ">
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="toggle-fullscreen waves-effect waves-block waves-light tooltiped" data-position="bottom" data-tooltip="全屏模式">
                                <i class="material-icons">settings_overscan</i>
                            </a>
                        </li>
                        <li>
                            <a class="toggle-fullscreen waves-effect waves-block waves-light tooltiped" data-position="bottom" data-tooltip="使用文档">
                                <i class="material-icons">help_outline</i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="notification-btn waves-effect waves-block waves-light " data-target="notifications-dropdown">
                                <i class="material-icons">notifications_none
                                    <small class="notification-badge orange accent-3">5</small>
                                </i>
                            </a>
                            <ul id="notifications-dropdown" class="dropdown-content nav-dropdown">
                                <li>
                                    <h6>NOTIFICATIONS
                                        <span class="new badge">5</span>
                                    </h6>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#!" class="grey-text text-darken-2">
                                        <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                                </li>
                                <li>
                                    <a href="#!" class="grey-text text-darken-2">
                                        <span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                                </li>
                                <li>
                                    <a href="#!" class="grey-text text-darken-2">
                                        <span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                                </li>
                                <li>
                                    <a href="#!" class="grey-text text-darken-2">
                                        <span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                                </li>
                                <li>
                                    <a href="#!" class="grey-text text-darken-2">
                                        <span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="profile-btn waves-effect waves-block waves-light " data-target="profile-dropdown">
                                <span class="avatar-status avatar-online">
                                    <img src="{% static 'iDash/img/avatar/gaius.jpg'%}" alt="avatar">
                                    <i></i>
                                </span>
                            </a>
                            <ul id="profile-dropdown" class="dropdown-content nav-dropdown">
                                <li>
                                    <a href="#" class="grey-text text-darken-1">
                                        <i class="material-icons">face</i> Profile</a>
                                </li>
                                <li>
                                    <a href="#" class="grey-text text-darken-1">
                                        <i class="material-icons">settings</i> Settings</a>
                                </li>
                                <li>
                                    <a href="#" class="grey-text text-darken-1">
                                        <i class="material-icons">live_help</i> Help</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" class="grey-text text-darken-1">
                                        <i class="material-icons">lock_outline</i> Lock</a>
                                </li>
                                <li>
                                    <a href="#" class="grey-text text-darken-1">
                                        <i class="material-icons">keyboard_tab</i> Logout</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="user-name">Gaius Yao</span>
                        </li>
                    </ul>
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
            </nav>
            <!-- Horizontal Nav -->
            <nav class="horizontal-nav white grey-text hide-on-med-and-down">
                <ul class="left">
                    <li class="active">
                        <a class="dashboard-dropdown dropdown-menu grey-text text-darken-1" data-target="dashboardDropdown">
                            <i class="material-icons">dashboard</i>
                            <span>仪表盘
                                <i class="material-icons right">keyboard_arrow_down</i>
                            </span>
                        </a>
                        <ul id="dashboardDropdown" class="dropdown-content dropdown-horizontal-list">
                            <li>
                                <a href="#">eCommerce</a>
                            </li>
                            <li>
                                <a href="#">Analytics</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-menu grey-text text-darken-1" href="#">
                            <i class="material-icons">dvr</i>
                            <span>工作台
                                <i class="material-icons right">keyboard_arrow_down</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu grey-text text-darken-1" href="#">
                            <i class="material-icons">book</i>
                            <span>文章
                                <i class="material-icons right">keyboard_arrow_down</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu grey-text text-darken-1" href="#">
                            <i class="material-icons">palette</i>
                            <span>色板
                                <i class="material-icons right">keyboard_arrow_down</i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu grey-text text-darken-1" href="#">
                            <i class="material-icons">collections</i>
                            <span>Gallery</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Side Nav -->
        <ul id="nav-mobile" class="sidenav">
            <li>
                <a href="#">TODO</a>
            </li>
        </ul>
    </header>
    
    <main class="horizontal-nav-main">
        <div class="section no-pad-bot" id="index-banner" style="height:800px">
            <div class="container">
                <h1 class="header center blue-text">Hello Wolrd</h1>
                <div class="row center">
                    <h5 class="header col s12 light">A Simple Dashboard Powered by Django & Materialize</h5>
                </div>
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light blue">Coming Soon ~</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer purple">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would
                        help support and continue development on this project and is greatly appreciated.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 2</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 3</a>
                        </li>
                        <li>
                            <a class="white-text" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright ©
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>
                    <a class="yellow-text" href="https://github.com/gaiusyao" target="_blank">Gaius-Yao</a> 
                    All rights reserved.
                </span>
                <span class="right hide-on-small-only"> 
                    Powered by
                    <a class="yellow-text" href="https://djangoproject.com/">Django</a>
                     &          
                    <a class="yellow-text" href="http://materializecss.com">Materialize</a>
                </span>
            </div>
        </div>
    </footer>

    <!-- js -->
    <script src="{% static 'iDash/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="{% static 'iDash/js/plugins.js' %}"></script>

</body>

</html>